# Packages de base
numpy>=1.20.0
pandas>=1.3.0
scikit-learn>=1.0.0
matplotlib>=3.5.0

# PyTorch
torch>=1.10.0
torchvision>=0.11.0

# fastai 
fastai>=2.6.0
packaging>=21.0

# Utilitaires
rich>=10.0.0
natsort>=7.0.0
tqdm>=4.60.0

scipy>=1.7.0
lifelines>=0.26.0

pyarrow>=6.0.0  