absl-py==1.4.0
affine==2.4.0
annotated-types==0.7.0
asciitree==0.3.3
astunparse==1.6.3
attrs==25.1.0
audioread==3.0.1
beautifulsoup4==4.13.3
blis==0.7.11
cachetools==4.2.4
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.20.0
cloudpickle==3.1.1
confection==0.1.5
ConfigSpace==1.2.1
contourpy==1.1.1
crc32c==2.7.1
cycler==0.12.1
cymem==2.0.11
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
etils==1.3.0
fastai==2.7.18
fastcore==1.7.20
fastdownload==0.0.7
fasteners==0.19
fastprogress==1.0.3
filelock==3.16.1
flatbuffers==25.1.24
fonttools==4.55.8
fpdf2==2.8.2
gast==0.4.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
glfw==2.8.0
google-auth==2.38.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.66.0
grpcio==1.69.0
h5py==3.11.0
idna==3.10
imageio==2.35.1
imgui==2.0.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.5
joblib==1.4.2
keras==2.13.1
kiwisolver==1.4.7
langcodes==3.4.1
language_data==1.3.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.8.1
llvmlite==0.41.1
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
MetaNN==0.2.5
more-itertools==10.5.0
munch==4.0.0
murmurhash==1.0.12
networkx==3.1
numba==0.58.1
numcodecs==0.12.1
numpy==1.22.0
oauthlib==3.2.2
opencv-python==4.5.5.64
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
packaging==24.2
pandas==1.3.5
parameterized==0.9.0
pillow==10.4.0
platformdirs==4.3.6
pooch==1.8.2
preshed==3.0.9
pretrainedmodels==0.7.4
promise==2.3
protobuf==3.20.3
psutil==6.1.1
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pynndescent==0.5.13
PyOpenGL==3.1.9
pyparsing==3.1.4
pyperclip==1.9.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
pyvips==2.2.3
PyWavelets==1.4.1
PyYAML==6.0.2
rasterio==1.3.11
requests==2.32.3
requests-oauthlib==2.0.0
resampy==0.4.3
rich==13.9.4
rsa==4.9
saliency==0.2.1
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
shapely==2.0.7
shellingham==1.5.4
six==1.17.0
-e git+https://github.com/slideflow/slideflow@9a40d6187204211bc02faf25623bfe7fda0cb17e#egg=slideflow
smart-open==7.1.0
smmap==5.0.2
snuggs==1.4.7
soundfile==0.13.0
soupsieve==2.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow-datasets==4.8.3
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
tensorflow-metadata==1.14.0
tensorflow-metal==1.0.1
tensorflow-probability==0.19.0
termcolor==2.4.0
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2023.7.10
toml==0.10.2
torch==1.12.1
torchsummary==1.5.1
torchvision==0.13.1
tqdm==4.67.1
triangle==20250106
typer==0.15.1
typing_extensions==4.12.2
umap-learn==0.5.7
urllib3==2.2.3
versioneer==0.29
wasabi==1.1.3
weasel==0.4.1
Werkzeug==3.0.6
wrapt==1.17.2
zarr==2.16.1
zipp==3.20.2
